.assessment-containers{
    background-color: #fff;
    border-radius: 8px;
    width: 620px;
}
.AdminStudentProfile_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}
.AdminStudentProfile_header img{
    cursor: pointer;

}
.AdminStudentProfile_desc{
    width: 100%;
    background-color:#F3F6F9;
    padding:24px;
}
.AdminStudentProfile_desc_upper{
    display: flex;
    align-items: center;
    gap:24px ;
}
.AdminStudentProfile_desc_upper img{
    border-radius: 50%;
}
.Ad_st_img_desc{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.Ad_st_img_name{
    color:#000 ;
    font-weight: 500;
font-size: 18px;
}
.Ad_st_img_deg{
    font-weight: 400;
font-size: 14px;
color: #818181;
}
.Ad_st_pr_hr{
    padding: 18px 0 18px 0;
    color: #818181;
}
.Ad_st_personal_left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.Ad_st_personal{
    display: flex;
    align-items: center;
/* justify-content: space-between; */
}
.number{
    gap: 190px;
}
.Ad_st_personal span {
    font-weight: 400;
font-size: 12px;
color: #788898;
}
.Ad_st_pro_acad_header{
    padding: 24px 0 0 24px;
    font-weight: 500;
font-size: 16px;
color: #333333;
}
.Ad_st_pro_info
{
    /* padding: 0 0 10px 24px; */
}
.Ad_st_pr_primary{
    color:var(--clr-textLight) ;
    font-weight: 400;
font-size: 14px;
}
.Ad_st_pr_secondary{
    font-weight: 400;
font-size: 12px;
color: #333333;
}
.Ad_st_pro_acad{
    padding: 10px 10px 10px 24px;
}
.Ad_st_pro_table thead td,tbody td{
    padding: 12px 0 0 0;
}