<div class="pwd-tooltip">
    <div class="pwd-heading">
      <p class="pwd-head">Must have at least 6 characters</p>
      <div class="strength">
        <hr>
        </hr>
        <hr>
        </hr>
        <hr>
        </hr>
      </div>
    </div>
  
      <div class="pwd-check">
  
        <p class="pwd-sgt">It’s better to have:</p>
        <span class=pwd-tick>Upper & lower case letters</span>
        <span class=pwd-tick>A symbol (#$&)</span>
        <span class=pwd-tick>A longer password</span>
        <div>
        </div>
      </div>
    </div>