.pwd-tooltip {
  height: 151px;
  position: absolute;
  right: -185px;
  top: -30px;
  display: none;
  flex-direction: column;
  width: 180px;
  border: 1px solid #e9eaec;
  border-radius: 5px;
  background: #ffffff;
}
.pwd-heading {
  display: flex;
  flex-direction: column;
}
.pwd-head {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #333333;
  margin: 12px;
}
.strength {
  display: flex;
}
.strength hr {
  height: 2px;
  width: 60px;
  border: none;
}
.strength hr:nth-child(1) {
  background: red;
}
.strength hr:nth-child(2) {
  background: #e58f55;
}
.strength hr:nth-child(3) {
  background: #0fb366;
}

.pwd-check {
  display: flex;
  flex-direction: column;
  margin: 0 12px;
}

.pwd-sgt {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  color: #818181;
}
.pwd-tick {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #818181;
}
.pwd-tick.ok-green {
  color: var(--clr-supportGreen) !important;
  /* font-size: 13px; */
}