.feedback-submit {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    z-index: 1;
    position: fixed;
    inset: 0;
}

.feedback-container {
    background: var(--clr-greyWhite);
    border-radius: 12px;
    width: 438px;
    height: 203px;
}

.feedback-logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 2em;
    margin-left: 2em;
    margin-bottom: -0.4em;
    right: 0;
}

.feedback-logo img {
    height: 14px;
    object-fit: contain;
}

.logo-cross {
    display: flex;
    justify-content: right;
    margin-right: 2.5em;
    margin-top: -0.9em;
}

.logo-cross img {
    height: 12px;
    cursor: pointer;
    object-fit: contain;
}

.feedback-logo .feedback-content {
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    font-size: 14px;
    color: var(--clr-textDark);
}

.feedback-text {
    margin: 2em;
}

.feedback-text-content {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: var(--clr-textLight);
    letter-spacing: 0.02em;
}