.support-container {
    background: #F9FAFC;
}

.support-heading {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #333333;
    margin: 32px;
}

.ADGeneral{
    /* padding: 24px; */
}
.ADGeneral span{
    font-weight: 500;
    font-size: 18px;
    color: #333333;
    
}
/* .ADpass_head{
    padding: 24px;
} */
.ADGeneral_general{
    padding: 24px 0;
}
.ADGeneral_img_prt{
    display: flex;
    gap:20px;
}
.AD_right {
    display: flex;
    flex-direction: column;
    gap:40px;
}
.edit-group1 input{
    width: 
    319px;
}
.AD_left  .change-container{
    display: flex;
    align-items: center;
    gap:20px;
}

.edit-group1 {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.edit-group1 input {
    padding: 12px;
    background: transparent;
    height: 40px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--clr-labelGrey);
}

.edit-group1 label {
    font-size: 12px;
    position: absolute;
    top: 54%;
    left: 12px;
    transform: translateY(-60%);
    pointer-events: none;
    transition: 0.3s ease-in;
    color: var(--clr-labelGrey);
}

.edit-group1 input:focus~label,
.edit-group1 input:valid~label {
    top: 2px;
    left: 12px;
    padding: 0 2px;
    background-color: var(--clr-greyWhite);
    color: var(--clr-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}
.AD_email .edit-group1{
    display: flex;
    gap:20px;
}
.edit-group2{
    padding: 12px;
    background: transparent;
    height: 40px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--clr-labelGrey);
}
.AD_Pass{
    padding:24px 0 24px 0;
}
.AD_passDetail{
    display: flex;
    align-items: center;
    gap: 24px;
    padding:24px 0 24px 0;

}
.AD_passLeft, .AD_PassRight{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.save{
    float: right;
}