.newpassword {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.newpassword-logo {
    display: flex;
    align-items: center;
    padding-bottom: 24px;
    flex-direction: column;
}

.newpassword-logo img {
    width: 100%;
    object-fit: contain;
    background:var( --clr-primaryShade);
    border-radius: 50%;
}

.newpassword-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newpassword-content .set {
   
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    padding-bottom: 0.3em;
    color:var( --clr-textDark);
}

.newpassword-content .set-content {
  
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: var(--clr-textLight);
}

.newpassword .form-new-pwd {
    flex-direction: column;
    padding: 2em;
    display: flex;
    max-width: 370px;
    width: 100%;
}

.newpassword .form-group {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 24px;
}

.newpassword .form-group-pwd input {
    padding: 12px;
    width: 100%;
    background: transparent;
    height: 40px;
    border: none;
    font-weight: 400;
    font-size: 16px; 
}

.newpassword .form-group-new label {
    font-size: 16px;
    position: absolute;
    top: 54%;
    left: 12px;
    transform: translateY(-60%);
    pointer-events: none;
    transition: 0.3s ease-in;
    color: var(--clr-labelGrey);  
}

.newpassword input:focus~label,
.newpasswordinput:valid~label {
    left: 12px;
    padding: 0 2px;
    background-color: var(--clr-greyWhite);
    color: var(--clr-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.form-group input[type=password]:focus~.pwd-tooltip,
.form-group input[type=password]:valid~.pwd-tooltip {
    display: flex;
}

.newpassword .form-group-content {
 
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color:var(--clr-greyDark);
}
.newpassword .reset-button{
    position: relative;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.reset-button .errormssg {
    text-align: center;
    font-size: 12px;
    color: var(--clr-supportRed);
    position: absolute;
    bottom: -20px;
}

.newpassword .back-toreset{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.newpassword .back-toreset img{
    padding: 0 10px;
}
.newpassword .back-reset{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--clr-textLight);
}