.eventpopup {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    min-height: 817px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    position: fixed;
    z-index: 1;
}
.AdscvHeader {
    padding: 24px 0 24px 0;
}

.AddDepartment_desc {
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    border-radius: 10px;
    padding: 24px;
}

.addDepartment_form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.adddepartmentform {
    display: flex;
    flex-direction: column;
    /* gap: 18px; */
}

.form_header,
.form_Despriction,
.form_hod {
    display: flex;
    align-items: center;
}

.form_contact {
    display: flex;
    justify-content: space-between;
    /* gap: 10px; */
    align-items: center;

}
.form-event-label{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    margin-bottom: 24px;
}
.form-event-label label{
    color: #788898;font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

}

.input__Field {
    position: relative;
    width: 100%;
    height: 46px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    padding: 12px;
}

.contact__Phone .input__label {
    position: absolute;
    padding: 12px;
    color: #818181;
    font-weight: 400;
    font-size: 16px;
    left: 0;
}

.contact__Email .input__label {
    position: absolute;
    padding: 12px;
    left: 0;
    color: #818181;
    font-weight: 400;
    font-size: 16px
}

.update-btn {
    /* padding: 24px; */
    display: flex;
    justify-content: center;
    gap: 20px;
}
.Btn--red{
    background-color: red;
    color: white;
    border: 1px solid #D0D5DD;
    border-radius: 4px;
   
}

.contact__Email,
.contact__Phone {
    position: relative;
    width: 317px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    background: #FFFFFF;
}

.contact__Email input:focus,
.contact__Email input:valid,
textarea:focus,
textarea.has-content {
    border-color: var(--clr-primary) !important;
}

.contact__Email label,
.contact__Email label {
    position: absolute;
    padding: 0 3px;
    left: 12px;
    top: 0px;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s ease-in;
    color: var(--clr-textLight);
}

.contact__Email input:focus~label,
.contact__Email input:valid~label {
    top: -20px;
    left: 10px;
    background-color: #fff;
    font-weight: 400;
    font-size: 12px;
    color: var(--clr-primary);
}

.contact__Phone input:focus,
.contact__Phone input:valid,
textarea:focus,
textarea.has-content {
    border-color: var(--clr-primary) !important;
}

.contact__Phone label,
.contact__Phone label {
    position: absolute;
    padding: 0 3px;
    left: 12px;
    top: 0px;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s ease-in;
    color: var(--clr-textLight);
}

.contact__Phone input:focus~label,
.contact__Phone input:valid~label {
    top: -20px;
    left: 10px;
    background-color: #fff;
    font-weight: 400;
    font-size: 12px;
    color: var(--clr-primary);
}