
.confirmpassword {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.confirmpassword-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;
}
.confirmpassword-logo img {
    min-width: 60px !important;
  }

.password-reset {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.password-reset-content {
   
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    color: var(  --clr-textDark);
    padding-bottom: 1.2em;
}

.password-reset-success {
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 10px;
    color: var( --clr-textLight)
}

.password-reset-click {
    
    font-style: normal;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    color: var( --clr-textLight);
}

.continue-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--clr-primary);
    color: var(--clr-greyWhite);
    font-weight: 500;
    font-size: 16px;
    padding: 12px 149px;
    border-radius: 8px;
}

