.classtest_create_page{
    padding: 15px;
}
.classtest_create_header{                               
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:5px;
    /* padding: 12px; */
}
.assignment_create_header span{
font-size: 24px;
font-weight: 600;
color:var(--clr-textDark);
}
.assignment_create_header p{
    font-size: 16px;
    font-weight: 400;
    color: var(  --clr-textLight);
}
.class_create_description{
  border: 2px solid rgba(0, 0, 0, 0.05);
  
}
.class_create_description_header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 12px;
}
.assignment_create_line{
  border: 1px solid rgba(0, 0, 0, 0.05);
    width: 2px;
    height: 166px;
}
.Course_dropdown{
  width: 300px;
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;
  gap:10px;
}
/* .create_marks{
  display: flex;
  align-items: center;
} */
/* .create_marks input{
  position: relative;
  border-radius: 8px;
  padding: 12px;
  width: 145px;
  border:1px solid var(--clr-primary);
  outline:none;
}

.Section_drop{
  width: 300px;
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;
  gap:12px;
}
.Section_drop label{
  position:absolute;
  padding:15px;
    pointer-events: none;
    transition: 0.3s ease-in;
    color: var(--clr-primary) ;
    font-size: 14px;
  }
  .Section_drop input:focus~label,
  .Section_drop input:valid~label
  {
    transform: translateY(-100%) translateX(20%) ;
    background-color: #fff;
    font-weight: 400;
    font-size: 12px;
    padding: 0 10px 0 10px;
    padding-left:0 18px;
  } */


/* .create_input_title input {
    width: 100%;
    background: transparent;
    height: 46px;
    border: 1px solid #5b36c6;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    border-radius: 8px;
  }
  
  .create_input_title label {
    position: absolute;
    top: 25px;
    left: 10px;
    transform: translateY(-60%);
    pointer-events: none;
    transition: 0.3s ease-in;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
  
  .create_input_title input:focus ~ label,
  .create_input_title input:valid ~ label {
    top: 0;
    left: 10px;
    padding: 0 2px;
    background-color: #ffffff;
    color: #5b36c6;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
  } */

  .create_input{
    display: flex;
    /* align-items: center; */
    width: 100%;
    justify-content:space-between;
    /* padding: 12px; */
  }

  .create_textarea textarea
  {
    width: 700px;
    resize: none;
    padding: 12px;
    border-radius:8px;
    border: 1px solid var(--clr-txtareaborder);
  }
  .upload_assignment_file{
    padding-top:10px ;
  }

  .class_test_searchbar{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 0 0 0;
  
  }
  
  .class_test_searchbar .search-form[type=search] {
    width: 700px;
    height: 35px;
    padding: 10px 20px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    color: #333333;
    background-image: url("//image.ibb.co/i7NbrQ/search_icon_15.png");
    padding: 0.75rem 1.25rem 0.75rem 2rem;
    background-position: 0.625rem 0.625rem;
    background-repeat: no-repeat;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 130%;
  }
  
  .search-form[type=search]:focus {
    border: 1px solid #5B36C6;
  
  }
  
   input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }